<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
 
 	<beans:import resource='spring-datasource.xml'/>
 
 	<http pattern="/static/**" security="none" />
 	<http pattern="/public/**" security="none" />
 	<http pattern="/login/**" security="none" />
 	
	<http use-expressions="true">
		<intercept-url pattern="/secure/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<form-login login-page="/login.htm" default-target-url="/login-welcome.htm"
			authentication-failure-url="/loginfailed.htm" />
		<logout logout-success-url="/logout.htm" />
	</http>
 
	<authentication-manager>
    	<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
	 
			   users-by-username-query="
			      select USERNAME,PASSWORD,ENABLED 
			      from users where USERNAME=?" 
	 
			   authorities-by-username-query="
			      select u.USERNAME, ur.AUTHORITY from users u, user_roles ur 
			      where u.USERID = ur.USERID and u.USERNAME =?  " 
			/>
	   	</authentication-provider>
    </authentication-manager>
 
</beans:beans>